// Base colors
$white-color: #fdfdfe;
$grey-color: #626262;
$silver-color: #f0f0f0;
$lightsilver-color: #fbfbfb;
$navy-color: #243343;
$red-color: #fb442c;
$green-color: #3db147;
$yellow-color: #fec300;
$primary-color: #5e52ff;
$text-color: #424242;

// Fonts
$font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;